.blackjack__draw__btn {
  padding: 1em;
}

.blackjack__dealer__wrapper,
.blackjack__player__wrapper,
.blackjack__card__wrapper{
  display: flex;
}

.blackjack__dealer__wrapper,
.blackjack__player__wrapper {
  flex-direction: column;
  align-items: center;
}

.blackcard__cardvalue {
  color: white;
  font-weight: 600;
}