.blackjack__draw__btn {
  padding: 1em;
}

.blackjack__dealer__wrapper,
.blackjack__player__wrapper,
.blackjack__card__wrapper,
.blackjack__player__buttons{
  display: flex;
}

.blackjack__dealer__wrapper,
.blackjack__player__wrapper {
  flex-direction: column;
  align-items: center;
}

.blackjack__cardvalue {
  color: white;
  font-weight: 600;
}

.blackjack__player__buttons-hit,
.blackjack__player__buttons-stand {
  color: white;
  padding: 1em;
  width: 6em;
}